<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{HTTP_HOST} ^zelopb.sk$ [NC,OR]
    RewriteCond %{HTTP_HOST} ^www.zelopb.sk$
    RewriteCond %{REQUEST_URI} !zelopb.sk/public/
    RewriteRule (.*) /zelopb.sk/public/$1 [L]
</IfModule>